body {
    background-color: #251406c9;
}
.container {
    display: flex;
    justify-content: center;
}
.button {
width: 10vh;
height: 50vh;
background-color: rgb(255, 255, 255);
margin: 2vh;
border: 6px solid rgb(238, 220, 255);
border-radius: 25px;
text-align-last: center;
}
.button p {
    display: flex;
    justify-content:center;
    margin-top: 40vh;
    font-family: 'Bahianita', cursive;
    font-size: 25px;
    font-weight: bolder;
    color: #251406c9;
}